<div class="navbar">
    <div class="container">
        <div class="grid">
            <a href="javascript:;" class="navbar-toogle" (click)="toggleShowNavbarMenu()"><i class="pi pi-bars"></i></a>
        </div>
    </div>

    <ul class="navbar-menu" [hidden]="showNavbarMenu">
        <li class="navbar-menuitem-usuario">Prisco Cleyton</li>
        <li class="navbar-menuitem"><a href="#">Lançamentos</a></li>
        <li class="navbar-menuitem"><a href="#">Pessoas</a></li>
        <li class="navbar-menuitem"><a href="#">Logout</a></li>
    </ul>
</div>