<!-- <app-hello-with-myhands></app-hello-with-myhands> -->
<!-- <app-hello-with-cli></app-hello-with-cli> -->

<div class="container">
    <div class="alert alert-warning" role="alert" *ngIf="adicionado">
        Funcionário adicionado com sucesso: {{title}}
    </div>

    <div class="form-group">
        <label>Name: </label>
        <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="title" (focus)="adicionado = false">
    </div>

    <button type="button" class="btn btn-success" (click)="adicionar()"
        [disabled]="title.length === 0">Adicionar</button>

    <div class="row" style="margin-top: 10px;">
        <div class="card col-3" *ngFor="let name of names">
            <img class="card-img-top" src="https://randomuser.me/api/portraits/men/{{name.id}}.jpg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</div>