<!-- <app-hello-with-myhands></app-hello-with-myhands> -->
<!-- <app-hello-with-cli></app-hello-with-cli> -->
<app-cano-conversor></app-cano-conversor>
<div class="container">

    <app-funcionario-form (funcionarioAdicionado)="aoAdicionarFuncionario($event)"></app-funcionario-form>

    <div class="row" style="margin-top: 10px;">
        <div class="card col-3" *ngFor="let f of funcionarios">
            <app-funcionario-card [func]="f"></app-funcionario-card>
        </div>
    </div>

</div>
